NEXT_PUBLIC_SITE_NAME=Aspire Education Consultancy
NEXT_PUBLIC_SITE_URL=http://localhost:3000
ADMIN_EMAIL=consultancyaspireeducation@gmail.com
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_USER=
EMAIL_PASS=
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
WHATSAPP_NUMBER=9711104179
INSTAGRAM=https://www.instagram.com/aspire.education.consultancy
FACEBOOK=https://www.facebook.com/profile.php?id=61588220492710
